<footer class="site-footer section">

	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<ul class="nav nav-pills">
					<li role="presentation"><a href="#">Link</a></li>
					<li role="presentation"><a href="#">Link</a></li>
					<li role="presentation"><a href="#">Link</a></li>
					<li role="presentation"><a href="#">Link</a></li>
					<li role="presentation"><a href="#">Link</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p class="text-white"> 
				<img src="img/smsagil-small-white-logo.png" alt="">
				SMS Ágil - Copyright 2015
				</p>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
	<script>
		new WOW().init();
	</script>

</footer>
