<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <section>
      <div class="container">
        <div class="jumbotron">
          <h1>Campanhas de Marketing com SMS</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure officiis officia quas, harum beatae tempora voluptate neque nesciunt, enim molestias iusto ullam eveniet iste tenetur! Earum, animi, beatae. Facilis, officia!</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Benefícios</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Comunicação Direta</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus culpa cupiditate fugit quia, maiores soluta corporis dolorem perspiciatis aut aliquam illum, cum ad impedit id excepturi praesentium amet, sunt quasi?</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Econômico</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sunt nobis aut incidunt repudiandae delectus expedita quidem omnis odit, sed alias dicta. Totam quia, atque dolor quos commodi natus omnis.</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Simples e Acessivel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat doloribus obcaecati quod neque corrupti quia placeat nihil nam corporis beatae? Quidem dolor ut numquam aliquam molestiae recusandae, nobis magnam facere.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <h2>SMS Marketing para alavancar suas vendas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laudantium nesciunt vel, odit temporibus, neque enim facere veritatis repudiandae fuga voluptatum modi reiciendis provident. Delectus excepturi, perspiciatis tempore deserunt esse.</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <h2>SMS Marketing para alavancar suas vendas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laudantium nesciunt vel, odit temporibus, neque enim facere veritatis repudiandae fuga voluptatum modi reiciendis provident. Delectus excepturi, perspiciatis tempore deserunt esse.</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2 wow bounceInRight" data-wow-delay="500ms">
            <h2>SMS Marketing para alavancar suas vendas</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laudantium nesciunt vel, odit temporibus, neque enim facere veritatis repudiandae fuga voluptatum modi reiciendis provident. Delectus excepturi, perspiciatis tempore deserunt esse.</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Benefícios</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Comunicação Direta</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus culpa cupiditate fugit quia, maiores soluta corporis dolorem perspiciatis aut aliquam illum, cum ad impedit id excepturi praesentium amet, sunt quasi?</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Econômico</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sunt nobis aut incidunt repudiandae delectus expedita quidem omnis odit, sed alias dicta. Totam quia, atque dolor quos commodi natus omnis.</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Simples e Acessivel</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat doloribus obcaecati quod neque corrupti quia placeat nihil nam corporis beatae? Quidem dolor ut numquam aliquam molestiae recusandae, nobis magnam facere.</p>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

    </body>
</html>