<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <section>
      <div class="container">
        <div class="jumbotron">
          <h1>Campanhas de Marketing com SMS</h1>
          <p>Eleve o relacionamento com o cliente a um novo patamar. Promova, divulgue, agradeça, avise e muito mais. Conheça nossa plataforma agora.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">CONHEÇA</a></p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Benefícios</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Comunicação Direta</h2>
            <p>Você sabia que 90% dos SMS enviados são lidos em menos de 3 minutos, contra 28% dos emails!</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Econômico</h2>
            <p>O SMS, em relação à outras midias, tem um maior custo benefício.</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Simples e Acessivel</h2>
            <p>Compatível com 100% dos aparelhos, não precisa de internet, nem de um bom sinal da operadora.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <h2>SMS Marketing para alavancar suas vendas</h2>
            <p>Faça campanhas de vendas, promoções, queima de estoque, campanhas para datas especiais e mais.</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <h2>SMS Marketing ajuda na comunicação</h2>
            <p>Lembretes de consultas, exames, reuniões, alertas de fatura em atraso, retirada de produtos, etc são enviadas de forma prática, ágil e econômica</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-md-offset-2">
            <h2>SMS Marketing para fidelizar seus clientes</h2>
            <p>SMS em datas comemorativas são uma forma de estimular o relacionamento e fidelizar o cliente. Para quem recebe a mensagem, a sensação de proximidade é ainda maior.</p>
            <button>Teste Gratuitamente</button>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Nosso Diferencial</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Segurança</h2>
            <p>Sua base de contatos não será compartilhada. Seus clientes não irão receber spam. Todas as suas informações são criptografadas.</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Flexibilidade</h2>
            <p>Nossos planos são flexiveis para que você tenha o maior alcance possível com o menor custo.</p>
          </div>
          <div class="col-md-4">
            <img src="" alt="">
            <h2>Agilidade</h2>
            <p>As suas mensagens chegaram aos seus clientes em menos de 1 minuto.</p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h4>Sobre a Plataforma</h4>
        </div>
      </div>
        <div class="row">
          <div class="col-md-3">
            <img src="" alt="">
            <h2>Importe seus contatos</h2>
            <p>Importe os contatos do seu celular, de outros sistemas ou cadastre manualmente.</p>
          </div>
          <div class="col-md-3">
            <img src="" alt="">
            <h2>Monte grupos de contatos</h2>
            <p>Separe seus contatos em grupos categorizados, seja por interesse, areas de atuação, entre outros.</p>
          </div>
          <div class="col-md-3">
            <img src="" alt="">
            <h2>Criar campanhas personalizadas</h2>
            <p>Agende o envio de campanhas e obtenha relatórios sobre o recebimento dos SMS.</p>
          </div>
          <div class="col-md-3">
            <img src="" alt="">
            <h2>Envie mensagens individuais</h2>
            <p>Envie mensagens para um unico contato de forma rápida.</p>
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

    </body>
</html>